@model BlogApplication.Models.BlogPost

@{
    ViewBag.Title = "Edit Blog";
}

<h2 style="color:green;text-align:center;">Edit Blog</h2>


@using (Html.BeginForm("Edit", "BlogPosts", FormMethod.Post, new { enctype = "Multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4 style="color:green; text-align:center;">BlogPost</h4>
    <hr />
    @Html.ValidationSummary(true, "**This is the edit page, everything after you created will show a list**", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="container" style="margin:200px;margin-top:50px;width:80%;height:80%">
        <div class="form-group">
            @Html.LabelFor(model => model.Created, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Created, "**Please input the date and the time**", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Updated, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Updated, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Updated, "**Updated should be required**", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "**Please input any topic you want**", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Slug, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Slug, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Slug, "**This Slug should be required**", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Body, "**Input the body content please**", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MediaUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.MediaUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MediaUrl, "**Insert pictures**", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Published, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Published)
                    @Html.ValidationMessageFor(model => model.Published, "**Please choose the published,Thanks**", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit"style="background-color:blue;margin-left:100px;" value="Save" class="btn btn-default" />
            </div>
        </div>
        <h2 style="margin-left:180px;color:blue;">*Useful Links: *</h2>
        <a href="https://www.youtube.com/watch?v=e0e8k8PYJcM">
            <img src="http://twist.elearningguild.net/wp-content/uploads/2014/02/Blog-graphic-from-Istock.jpg" style="width:500px;height:500px;" />
        </a>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<style>
body { background-image: 
           url("http://enricozanarini.com/wp-content/uploads/2014/01/EZ-blog-sign.jpg")
}
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
